<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="foundation.<%= foundationName %>" description="foundation <%= foundationName %>" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\<%= foundationName %>\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="foundation.<%= foundationName %>.Templates" database="master" path="/sitecore/templates/foundation/<%= foundationName %>" />
            <include name="foundation.<%= foundationName %>.Renderings" database="master" path="/sitecore/layout/renderings/foundation/<%= foundationName %>" />
            <include name="foundation.<%= foundationName %>.Media" database="master" path="/sitecore/media library/foundation/<%= foundationName %>" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\foundation\<%= foundationName %>\serialization\foundation.<%= foundationName %>.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^foundation <%= foundationName %> .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>