<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.<%= featureName %>" description="Feature <%= featureName %>" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\<%= featureName %>\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.<%= featureName %>.Templates" database="master" path="/sitecore/templates/Feature/<%= featureName %>" />
            <include name="Feature.<%= featureName %>.Renderings" database="master" path="/sitecore/layout/renderings/Feature/<%= featureName %>" />
            <include name="Feature.<%= featureName %>.Media" database="master" path="/sitecore/media library/Feature/<%= featureName %>" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\<%= featureName %>\serialization\Feature.<%= featureName %>.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature <%= featureName %> .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>